@model Web_HundeCRUD.Models.Tb_Paciente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tb_Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_pac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_pac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_nac_pac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fec_nac_pac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ult_vis_pac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ult_vis_pac)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.observaciones_pac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones_pac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.est_pac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.est_pac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_Color.nom_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_Color.nom_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_Raza.nom_raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_Raza.nom_raza)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cod_pac }) |
    @Html.ActionLink("Retornar a la lista", "Index")
</p>
