@model IEnumerable<Web_HundeCRUD.Models.Tb_Tratamiento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo_trat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_trat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_cat_trat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_trat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_trat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_trat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_cat_trat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_trat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_trat }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_trat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_trat })
        </td>
    </tr>
}

</table>
