@model Web_HundeCRUD.Models.Tb_Estado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tb_Estado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.conducta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conducta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.est_nutricional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.est_nutricional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actividad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_estado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
