@model IEnumerable<Web_HundeCRUD.Models.Tb_Proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_prov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ruc_prov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_prov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_prov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_prov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rep_ven_prov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_reg_prov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fec_reg_prov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_ult_modificacion_prov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ult_modificacion_prov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_prov)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_prov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ruc_prov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_prov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_prov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_prov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rep_ven_prov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_reg_prov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fec_reg_prov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_ult_modificacion_prov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ult_modificacion_prov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_prov)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_prov }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_prov }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_prov })
        </td>
    </tr>
}

</table>
