@model IEnumerable<Web_HundeCRUD.Models.Tb_Empleado>

@{
    ViewBag.Title = "Listado de Empleados";
}

<h2>Listado de Empleados</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cod_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ape_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sueldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_supervisor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_ult_modificacion_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ult_modificacion_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_emp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rol_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ape_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sueldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_supervisor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_ult_modificacion_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ult_modificacion_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_emp)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.cod_emp }) |
            @Html.ActionLink("Consultar", "Details", new { id=item.cod_emp }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.cod_emp })
        </td>
    </tr>
}

</table>
