@model Web_HundeCRUD.Models.Tb_Medicina

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tb_Medicina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_medicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_medicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_medicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_medicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_unidad_medida.descrip_uni_med)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_unidad_medida.descrip_uni_med)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
