@model IEnumerable<Web_HundeCRUD.Models.Tb_Medicina>

@{
    ViewBag.Title = "Listado de Medicinas";
}

<h2>Listado de Medicinas</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_medicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_medicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.cod_med }) |
            @Html.ActionLink("Consultar", "Details", new { id=item.cod_med }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.cod_med })
        </td>
    </tr>
}

</table>
