@model IEnumerable<Web_HundeCRUD.Models.Tb_Medicina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_medicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_medicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_med }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_med }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_med })
        </td>
    </tr>
}

</table>
